<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container w-50 bg-secondary text-white">
        <h1 class="text-warning">Dojo Survey</h1>

        <!-- Name -->
        <form action="/user_dict" method="post">
            <label for="name" class="form-label">Name:</label>
            {% for message in get_flashed_messages(category_filter=['name']) %}
            <p class="text-danger">
                {{message}}
            </p>
            {%endfor%}
            <input type="text" name="name" id="name" class="form-control">

            <!-- Location -->
            <label for="location" class="form-label">Dojo Location:</label>
            <select name="location" id="location" class="form-select">
                <option value="Chicago">Chicago</option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Francisco">San Francisco</option>
                <option value="Houston">Houston</option>
                <option value="Miami">Miami</option>
            </select>

            <!-- Favorite Language -->
            <label for="language" class="form-label">Favorite Language:</label>
            <select name="language" id="language" class="form-select">
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Java Script">Java Script</option>
                <option value="Python">Python</option>
            </select>

            <!-- Comments -->
            <label for="comment" class="form-label">Comments:</label>
            {% for message in get_flashed_messages(category_filter=["comment"]) %}
            <p class="text-danger">
                {{message}}
            </p>
            {%endfor%}
            <textarea name="comment" id="comment" rows="4" class="form-control"></textarea>

            <!-- Submit Button -->
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>